.child{
    width: 43%;
    .fuel-container{
        @include flex(flex-start,center);
        gap: 4px;
    }
    p{
        &.title{
            font-family: $font-primary-bold;
            font-size: 16px;
        }
        font-family: $font-primary-medium;
    }
}