input{
    margin-top: 24px;
    width: 100%;
    padding: 8px 16px;
    border: solid 1px #D3D7DB;
    font-family: $font-primary-regular;
    text-align: center;
    ::placeholder{
        color: #828282;
    }
    margin-bottom: 16px;
}