/*=== Import Fonts ===*/
@include font-face($font-primary-regular, $font-primary-regular-path);
@include font-face($font-primary-semi-bold, $font-primary-semi-bold-path);
@include font-face($font-primary-bold, $font-primary-bold-path);
@include font-face($font-primary-medium, $font-primary-medium-path);

/*=== Typography Styling ===*/

a {
	&:link {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
}

h1 {
	flex-grow: 0;
	font-family: $font-primary-semi-bold;
	font-size: 26px !important;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.84px;
	text-align: center;
}
h2{
	flex-grow: 0;
	font-family: $font-primary-medium;
	font-size: 16px !important;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #0c1a27;
}

p{
	&.car-name {
		font-family: $font-primary-bold;
		font-size: 19px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.69px;
		text-align: left;
		color: #0d1a27;
	}
	  
	&.List-expires {
		flex-grow: 0;
		font-family: $font-primary-medium;
		font-size: 14px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #6f7b88;
	}
	&.price{
		font-family: $font-primary-semi-bold;
		font-size: 21px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.46px;
		text-align: right;
		color: #286df1;
	}
	&.infos{
		width: 100%;
		font-family: $font-primary-regular;
		font-size: 17px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.17px;
		text-align: left;
		color: #000000;
		&.footer{
			// font-family: $font-primary-semi-bold;
			text-align: center;
			width: 100%;
		}
	}
	&.fuel-type{
		font-family: $font-primary-semi-bold;
		font-size: 16px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.32px;
		text-align: right;
		color: #000000;
	}
}

h3 {
  font-family: $font-primary-bold;
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  text-align: left;
  color: #0d1a27;
}
// How typogrraphy should looks like on mobile version
@include for-size(desktop-down) {
}
@include for-size(tablet-landscape-down) {
}
@include for-size(tablet-portrait-down) {
}
@include for-size(phone-only) {
}
