/*=== Import Fonts ===*/
@include font-face($font-primary-regular, $font-primary-regular-path);
@include font-face($font-primary-semi-bold, $font-primary-semi-bold-path);
@include font-face($font-primary-bold, $font-primary-bold-path);
@include font-face($font-primary-medium, $font-primary-medium-path);

@include font-face($font-secondary-bold, $font-secondary-bold-path);
@include font-face($font-secondary-medium, $font-secondary-medium-path);

/*=== Typography Styling ===*/

a {
	&:link {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
}

h1 {
	flex-grow: 0;
	font-family: $font-primary-semi-bold;
	font-size: 24px !important;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.84px;
	text-align: center;
}
h2{
	flex-grow: 0;
	font-family: $font-primary-medium;
	font-size: 18px !important;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	// color: #0c1a27;
}
p{
	&.List-expires {
		flex-grow: 0;
		font-family: $font-primary-medium;
		font-size: 16px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #6f7b88;
	}
	&.infos{
		&.footer{
			text-align: center;
			width: 100%;
		}
	}
}
.products{
	.product{
		.title{
			font-family: $font-primary-semi-bold;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: -0.02em;
		}
		.price{
			font-family: $font-primary-medium;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			/* identical to box height */
			letter-spacing: -0.02em;
		}
		.reviews{
			font-family: $font-primary-medium;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 21px;
			letter-spacing: -0.01em;
			color: #828282;
		}
	}
	.tagButton{
		font-family: $font-primary-medium;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.01em;
	}
}
.card{
	p{
		&.title {
			font-family: $font-primary-bold;
			font-size: 23px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.69px;
			text-align: left;
			color: #0d1a27;
		}
		&.subtitle{
			font-family: $font-primary-semi-bold;
			font-size: 23px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.46px;
			text-align: right;
			color: #286df1;
		}
		&.infos{
			width: 100%;
			font-family: $font-primary-regular;
			font-size: 17px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.17px;
			text-align: left;
			color: #000000;
		}
		&.fuel-type{
			font-family: $font-primary-semi-bold;
			font-size: 16px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.32px;
			text-align: right;
			color: #000000;
		}
	}
}

p {
	.takeSurvey{
		font-family: $font-primary-medium;
		font-size: 15px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #fa9268;
	}
}

.tileCard{
	.title{
		font-family: $font-secondary-bold;
		font-size: 24px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.04;
		letter-spacing: -0.48px;
		text-align: left;
		color: #ffffff;
	}
	.subtitle{
		opacity: 0.75;
		font-family: $font-secondary-medium;
		font-size: 16px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: -0.32px;
		text-align: left;
		color: #ffffff;
	}
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
.categoryCard{
	.title{
		font-family: $font-secondary-bold;
		font-size: 24px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.04;
		letter-spacing: -0.48px;
		text-align: left;
	}
	.subtitle {
		font-family: 'Space Mono', monospace;
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 0.14px;
		text-align: left;
		opacity: 0.75;
	}
	.price{
		font-family: $font-secondary-bold;
		font-size: 18px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.22;
		letter-spacing: -0.36px;
		text-align: left;
	}
}

h3 {
  font-family: $font-primary-bold;
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  text-align: left;
  color: #0d1a27;
}

.missions{
	.title{
		width: 271px;
		font-family: $font-primary-bold;
		font-size: 23px;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: -0.46px;
		text-align: center;
		margin: 0;
	}
	.subtitle{
		font-family: $font-primary-medium;
		font-size: 18px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
		text-align: center;
		color: #1d1b19;
	}
}
.rewardsCounter{
	font-family: $font-primary-medium;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 15px;
	letter-spacing: -0.01em;
	color: #0A84FF;
}
.takeTheSurvey{
	font-family: $font-secondary-medium;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;	
}
// How typogrraphy should looks like on mobile version
@include for-size(desktop-down) {
}
@include for-size(tablet-landscape-down) {
}
@include for-size(tablet-portrait-down) {
}
@include for-size(phone-only) {
}
p{
	margin: 0;
}