.topBar{
    width: 100%;
    height: 64px;
    @include flex(space-between, center);
    padding-left: 20px;
    padding-right: 20px;
    .logo{
        flex: 1;
        width: 146px;
        height: 55px;
    }
    .profileIcon{
        flex: 1;
        img{
            cursor: pointer;
            width: 22px;
        }
    }
    box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.07), 0px 1.8px 13px rgba(0, 0, 0, 0.035);
    .rewards{
        flex: 1;
        @include flex(flex-end,center);
        gap: 6px;
        img{
            width: 20px;
        }
    }
}