.profile{
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    h1{
        margin-bottom: 24px;
    }
    img{
        margin-bottom: 16px;
    }
    .addName{
        margin-bottom: 38px;
    }
    .body{
        width: 100%;
        .header{
            width: 100%;
            @include flex(center,center);
            p{
                width: 50%;
                border-bottom: 3px solid;
                opacity: 0.65;
                &.selected{
                    opacity: 100%;
                }
            }
        }
    }
}