.aftermarket{
    .body{
        h1, h2{
            margin: 0;
        }
        h1{
            margin-top: 24px;
            padding-top: 24px;
        }
        .categories{
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 56px;
            gap: 16px;
            padding-top: 48px;
            position: relative;
            @include flex(center,flex-start);
            .left{
                width: 50%;
                @include flex(center,center);
                flex-direction: column;
                gap: 31px;
            }
            .right{
                width: 50%;
                @include flex(center,center);
                flex-direction: column;
                gap: 31px;
            }
        }
    }
}