@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

i {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

svg path {
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

svg:hover path {
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

input,
textarea:focus {
  outline: 0;
}

button:focus {
  cursor: pointer;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*=== Import Fonts ===*/
@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans Bold";
  src: url("../fonts/IBMPlexSans/IBMPlexSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans Medium";
  src: url("../fonts/IBMPlexSans/IBMPlexSans-Medium.ttf") format("truetype");
}

/*=== Typography Styling ===*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1 {
  flex-grow: 0;
  font-family: "Poppins SemiBold";
  font-size: 28px !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.84px;
  text-align: center;
}

h2 {
  flex-grow: 0;
  font-family: "Poppins Medium";
  font-size: 18px !important;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0c1a27;
}

p.List-expires {
  flex-grow: 0;
  font-family: "Poppins Medium";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6f7b88;
}

p.infos.footer {
  text-align: center;
  width: 100%;
}

.card p.title {
  font-family: "Poppins Bold";
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  text-align: left;
  color: #0d1a27;
}

.card p.subtitle {
  font-family: "Poppins SemiBold";
  font-size: 23px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.46px;
  text-align: right;
  color: #286df1;
}

.card p.infos {
  width: 100%;
  font-family: "Poppins Regular";
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  text-align: left;
  color: #000000;
}

.card p.fuel-type {
  font-family: "Poppins SemiBold";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: right;
  color: #000000;
}

p .takeSurvey {
  font-family: "Poppins Medium";
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fa9268;
}

.tileCard .title {
  font-family: "IBMPlexSans Bold";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: -0.48px;
  text-align: left;
  color: #ffffff;
}

.tileCard .subtitle {
  opacity: 0.75;
  font-family: "IBMPlexSans Medium";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.32px;
  text-align: left;
  color: #ffffff;
}

.categoryCard .title {
  font-family: "IBMPlexSans Bold";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: -0.48px;
  text-align: left;
}

.categoryCard .subtitle {
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.14px;
  text-align: left;
  opacity: 0.75;
}

.categoryCard .price {
  font-family: "IBMPlexSans Bold";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.36px;
  text-align: left;
}

h3 {
  font-family: "Poppins Bold";
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  text-align: left;
  color: #0d1a27;
}

.missions .title {
  width: 271px;
  font-family: "Poppins Bold";
  font-size: 23px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.46px;
  text-align: center;
  margin: 0;
}

.missions .subtitle {
  font-family: "Poppins Medium";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #1d1b19;
}

.rewardsCounter {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.01em;
}

.takeTheSurvey {
  font-family: "IBMPlexSans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

p {
  margin: 0;
}

.hero .text {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero .text span {
  font-family: "Poppins SemiBold";
}

footer {
  background-color: #EFF2F5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 24px;
}

.card-list {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.card-list .card {
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1), 0px 0.8px 13px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-list .card img {
  width: 100%;
  border: 6px;
}

.card-list .card .title {
  padding-top: 10px;
  margin-bottom: 10px;
}

.card-list .card .text-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 3px;
}

.card-list .card .text-field .fuel-container {
  width: 100%;
  gap: 4px;
  padding-bottom: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.card-list .card .text-field .fuel-container img {
  width: 16px;
  height: 16px;
}

.card-list .card .text-field .fuel-container p {
  line-height: 100%;
}

.card-list .card .text-field .rate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-list .card .text-field .rate img {
  width: 16px;
  height: 16px;
}

.topBar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.07), 0px 1.8px 13px rgba(0, 0, 0, 0.035);
}

.topBar img {
  width: 182px;
  height: 100%;
}

.topBar .rewardsCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #BC8A2B;
}

.topBar .rewardsCounter img {
  width: 24px;
  height: 24px;
}

input {
  margin-top: 24px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 6px;
  border: solid;
  font-family: "Poppins Regular";
  box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.07), 0px 1.8px 13px rgba(0, 0, 0, 0.035);
}

.missions {
  width: 100%;
  gap: 16px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding-bottom: 10px;
  width: 100%;
  margin-top: 12px;
  box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.07), 0px 1.8px 13px rgba(0, 0, 0, 0.035);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tileCardList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.tileCardList .left, .tileCardList .right {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.tileCardList .tileCard {
  overflow: hidden;
  position: relative;
}

.tileCardList .tileCard img {
  width: 100%;
}

.tileCardList .tileCard .text {
  padding: 12px;
}

.tileCardList .tileCard .text .title {
  margin-bottom: 31px;
}

.tileCardList .tileCard .text .year {
  font-size: 14px;
}

.tileCardList .tileCard .text .button {
  background: transparent;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 15px;
  right: 12px;
  cursor: pointer;
}

.takeTheSurvey {
  width: 100%;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.hero.heroTiles {
  width: 100%;
}

.hero.heroTiles .text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.categoryCard {
  box-shadow: 0px 36px 80px rgba(189, 148, 0, 0.1), 0px 13.8667px 25.4815px rgba(0, 0, 0, 0.121481);
  position: relative;
  padding: 123px 14px 12px 16px;
  width: 179px;
}

.categoryCard .image {
  top: -28px;
  position: absolute;
  z-index: 2;
}

.categoryCard .arrow {
  position: absolute;
  bottom: 14px;
  right: 20px;
  cursor: pointer;
}

.categoryCard .title {
  margin-bottom: 28px;
}
/*# sourceMappingURL=style.css.map */