.card-list{
    padding: 24px;
    @include flex(center,center);
    flex-direction: column;
    gap: 16px;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    .card{
        box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1), 0px 0.8px 13px rgba(0, 0, 0, 0.05);
        width: 100%;
        padding: 16px;
        @include flex(center,center);
        flex-direction: column;
        img{
            width: 100%;
            border: 6px;
        }
        .title{
            padding-top: 10px;
            margin-bottom: 10px;
        }
        .text-field{
            width: 100%;
            @include flex(space-between,flex-start);
            padding-bottom: 3px;
            .fuel-container{
                width: 100%;
                gap: 4px;
                padding-bottom: 3px;
                @include flex(flex-end,flex-start);
                img{
                    width: 16px;
                    height: 16px;
                }
                p{
                    line-height: 100%;
                }
            }
            .rate{
                @include flex(flex-end, center);
                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}
