.productDetails{
    padding-bottom: 46px;
    .image{
        width: 100%;
        background-color: white;
        @include flex(center,center);
        margin-bottom: 16px;
    }
    .infos{
        padding-left: 20px;
        padding-right: 20px;
        @include flex(center,flex-start);
        flex-direction: column;
        gap: 16px;
        .rateAndId{
            width: 100%;
            @include flex(space-between,center);
            flex-direction: row;
        }
        margin-bottom: 32px;
    }
    .details{
        .detailsTitle{
            margin-bottom: 16px;
        }
        .detail{
            padding: 10px 20px;
            @include flex(space-between,center);
            &.color{
                background-color: white;
            }
            p{
                &.content{
                    width: 40%;
                    text-align: right;
                }
            }
        }
    }
}