
.logo{
    width: 100%;
    height: 64px;
    @include flex(center, center);
    img{
        width: 182px;
        height: 100%;
    }
    box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.07), 0px 1.8px 13px rgba(0, 0, 0, 0.035);
}

.container{
    padding: 24px;
    @include flex(center,center);
    background-color: #EFF2F5;
    .text{
        @include flex(center,center);
        flex-direction: column;
        padding-bottom: 24px;
        span{
            font-family: $font-primary-semi-bold;
        }
    }
}